<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <!--<serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>-->
      <endpointBehaviors>
        <behavior name="TestTcpBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service  name="VTT.MainWindow">
        <endpoint 
          name="HostServicePoint"
          address="" 
          binding="netTcpBinding" 
          bindingConfiguration="TcpBindingConf"
          contract="VTT.ISerivceContract" 
        />
        <!--<endpoint 
          address="net.tcp://localhost:9078/VTT/mex" 
          binding="mexTcpBinding"
          contract="IMetadataExchange" 
        />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9080/VTT" />
            <!--<add baseAddress="http://localhost:9079/VTT" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint
        name="ClientServicePoint"
        address="net.tcp://localhost:9080/VTT"
        binding="netTcpBinding"
        bindingConfiguration="TcpBindingConf"
        contract="VTT.ISerivceContract"
        behaviorConfiguration="TestTcpBehaviour"
      />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBindingConf"
                 maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647"
                 transferMode="Buffered"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 listenBacklog="10"
                 maxConnections="10">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                            />
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>